In [28]:
import pandas as pd
from datetime import date

In [22]:
df = pd.read_csv('data.csv')

In [23]:
df

         DATE  DISTANCE   COST  LITER  PRICE    COM
0  2025-03-31        28  67074  42.00   1597  S-OIL
1  2025-04-21       755  70000  44.47   1574  S-OIL
2  2025-05-04      1306  50000  31.67   1579  S-OIL
3  2025-06-13      1825  30000  19.46   1542  S-OIL
4  2025-06-16      1918  30000  19.46   1542  S-OIL
5  2025-07-01      2409  30000  18.55   1617     NH
6  2025-07-20      2710  30000  18.54   1617  S-OIL

In [24]:
df.info

<bound method DataFrame.info of          DATE  DISTANCE   COST  LITER  PRICE    COM
0  2025-03-31        28  67074  42.00   1597  S-OIL
1  2025-04-21       755  70000  44.47   1574  S-OIL
2  2025-05-04      1306  50000  31.67   1579  S-OIL
3  2025-06-13      1825  30000  19.46   1542  S-OIL
4  2025-06-16      1918  30000  19.46   1542  S-OIL
5  2025-07-01      2409  30000  18.55   1617     NH
6  2025-07-20      2710  30000  18.54   1617  S-OIL>

In [13]:
li = ['2025-07-23', 2900, 30000, 18.00, 1624, 'S-OIL']

In [14]:
len(df)

7

In [15]:
df.loc[len(df)] = li

In [25]:
pd.to_datetime(df['DATE'])

0   2025-03-31
1   2025-04-21
2   2025-05-04
3   2025-06-13
4   2025-06-16
5   2025-07-01
6   2025-07-20
Name: DATE, dtype: datetime64[ns]

In [31]:
today = date.today()
print(today)

2025-07-23

In [26]:
df.to_csv('data.csv', index=False, date_format='%Y-%m-%d')