In [1]:
import pandas as pd
from datetime import date

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

         DATE  DISTANCE   COST  PRICE  LITER    COM
0  2025-03-31        28  67074   1597  42.00  S-OIL
1  2025-04-21       755  70000   1574  44.47  S-OIL
2  2025-05-04      1306  50000   1579  31.67  S-OIL
3  2025-06-13      1825  30000   1542  19.46  S-OIL
4  2025-06-16      1918  30000   1542  19.46  S-OIL
5  2025-07-01      2409  30000   1617  18.55     NH
6  2025-07-20      2710  30000   1617  18.54  S-OIL

In [27]:
# df.loc[len(df)-1, 'DISTANCE']
df.iloc[-1,1]

np.int64(2710)

In [20]:
df.iloc[0:-1, 4].sum()

np.float64(175.61)

In [31]:
df.groupby('COM')[['COST','LITER']].sum()

         COST   LITER
COM
NH      30000   18.55
S-OIL  277074  175.60

In [13]:
li = ['2025-07-23', 2900, 30000, 18.00, 1624, 'S-OIL']

In [14]:
len(df)

7

In [15]:
df.loc[len(df)] = li

In [25]:
pd.to_datetime(df['DATE'])

0   2025-03-31
1   2025-04-21
2   2025-05-04
3   2025-06-13
4   2025-06-16
5   2025-07-01
6   2025-07-20
Name: DATE, dtype: datetime64[ns]

In [31]:
today = date.today()
print(today)

2025-07-23

In [26]:
df.to_csv('data.csv', index=False, date_format='%Y-%m-%d')